.dom-topics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topics-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
    width: fit-content;
}

.filler {
    width: 370px;
  }
  
