.article {
    p {
        font-family: "Arbutus Slab", serif;
        margin-bottom: 25px;
        line-height: 2em;
        font-size: 17px;
    }

    a {
        color: #0000EE;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 7.5%;
}

.article-container {
    width: 50%;
}

.img-container {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
}

.title {
    font-family: "Arbutus Slab", serif;
    font-size: 35px;
    margin: 1rem 0;
    text-align: center;

}

.sidebar {
    width: 20%;
    margin-right: 1rem;
}

.author {
    font-family: "Adamina", serif;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 1em;
}

.date {
    font-family: "Adamina", serif;
    font-size: 12.5px;
    margin-bottom: 12.5px;
    span {
        margin-right: 16px;
    }
}